/* common shared style */
* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    cursor: pointer;

}

/* header section start */

.header {
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: 600px;

}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0px 180px;
    align-items: center;


}

.header-items {
    align-items: center;
    max-width: 500px;
}

.header .header-pic {
    width: 420px;
    height: 560px;
    margin-bottom: 0px;
}

.head-line {
    font-size: 50px;
    color: #000000;
    display: flex;
    width: 500px;
    flex-direction: column;
    margin-bottom: 20px;

}

.head-description {
    color: rgba(39, 39, 39, 0.60);
    width: 450px;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}


.main {
    width: 1140px;
    margin: 0 auto;

}

.section-title {

    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 15px;
    justify-content: space-between;
    line-height: 30px;
    margin-bottom: 30px;


}

/* features section */

.feature-description{
    width: 430px;
    margin-left: 360px;
    text-align: center;
}

.features {
    background: #ffffff;
    margin-top: 130px;
    margin-bottom: 130px;
}

.features-box {
    width: 324px;
    height: 378px;
    flex-shrink: 0;


}

.features-box-container {
    display: flex;
    justify-content: space-between;
}

.box-one {
    background: rgba(167, 33, 98, 0.15);
    width: 324px;
    height: 378px;
    border-radius: 300px 300px 0px 0px;

}

.box-two {
    background: rgba(5, 151, 160, 0.15);
    width: 324px;
    height: 378px;
    border-radius: 300px 300px 0px 0px;
}

.box-three {
    background: rgba(71, 125, 17, 0.15);
    width: 324px;
    height: 378px;
    border-radius: 300px 300px 0px 0px;
}


.box-titles {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px;
    text-align: center;
    font-size: smaller;

}

.pink {
    margin-left: 50px;
    margin-bottom: 20px;
}

.pink1 {
    margin-left: 30px;
    margin-bottom: 20px;
}

.pink2 {
    margin-right: 50px;
    margin-bottom: 20px;
}

.pic {
    width: 250px;
    height: 350px;
    margin: 28px 78px 0px 30px;

}

.pic1 {
    width: 250px;
    height: 350px;
    margin: 28px 78px 0px 30px;

}

.pic2 {
    width: 250px;
    height: 350px;
    margin: 28px 78px 0px 30px;

}


/* Extra section */

 .delivery{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    height: 230px;
    padding-top: 100px;
    
}
.delivery-man{
   align-items: center;
}
.delivery-man-text{
   
}
.img1{
    margin-left: 75px;
}
.img2{
    margin-left: 75px;
}
.img3{
    margin-left: 25px;
}


/* hot deals section start */

.Hot-deals {
    height: 510px;
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    display: flex;
    margin-bottom: 130px;
    margin-top: 130px;


}

.Hot-deals-items {

    align-items: center;
    width: 537px;
    margin: 185px 0px 342px 223px;
}

.hot-deal-title {
    color: #000000;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 10px;
    margin-left: 20px;

}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.bt {
    margin-left: 150px;

}

.hot-deal-img {
    margin: 50px 250px 0px 100px;
    flex-shrink: 0;
}

.off {
    color: #E55473;
}


/* Instagram Section start */

.insta-description {
    width: 450px;
    margin-left: 350px;

}

.insta-boxs {
    display: flex;
    justify-content: space-between;

}

.insta-box1 {
    width: 250px;
    height: 300px;

}

.insta-box2 {
    width: 250px;
    height: 300px;
}

.insta-box3 {
    width: 250px;
    height: 300px;
}

.insta-box4 {
    width: 250px;
    height: 300px;

}

.instagram {
    margin-bottom: 130px;
}

/* Subscribe section start */

.Subscribe {

    margin-bottom: 130px;
}

.contact input[type="email"] {
    display: block;
    margin-left: 180px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 500px;

}

.contact {
    align-items: center;
    display: flex;

    justify-content: space-around;
}

.Get-the-deal {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.Subscribe {
    background-image: url(./images/Rectangle\ 9.png);
    border-radius: 8px;
}

.bt-subscribe {
    margin-right: 190px;
}




/* footer section added */

.footer {
    background: #111010;
    height: 320px;
    width: 100%;
    padding-top: 100px;
}
.footer-description{
 
  width: 530px;

  margin-left: 490px;
  color: #faf7f7;
  text-align: center;
  font-size: 15px;
  justify-content: space-between;
  line-height: 30px;
  margin-bottom: 30px;

}
.flower{
    color: #E55473;
}
.shop{
    color: #FFF;
}
.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}